
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
#chart_dashboard {
    width: 100% !important;
    height: 300px !important;
}
.page-title {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
}
.page-title .with-breadcrumb h3 {
    line-height: 1.3;
}

.horizontal-bar .accordion-menu>li>ul {
    width: auto;
    min-width: 250px;
}

.page-breadcrumb {
    background: none;
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;
}
.page-breadcrumb .breadcrumb {
    padding-left: 0;
    padding-right: 0;
}

#main-wrapper {
    margin-top: 10px;
}

.no-border {
    border: none !important;
}

.select2-container {
/*    width: 100% !important;*/
}
.select-sm .select2-container--default .select2-selection--single {
    height: 31px !important;
    padding-top: 5px !important;
}

.form-horizontal .control-label .checker {
    margin-top: -2px;
}
.form-horizontal .form-group.form-group-default {
    margin-bottom: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.form-horizontal .form-group.form-group-default .col-lg-1, 
.form-horizontal .form-group.form-group-default .col-lg-10,
.form-horizontal .form-group.form-group-default .col-lg-11, 
.form-horizontal .form-group.form-group-default .col-lg-12, 
.form-horizontal .form-group.form-group-default .col-lg-2, 
.form-horizontal .form-group.form-group-default .col-lg-3, 
.form-horizontal .form-group.form-group-default .col-lg-4, 
.form-horizontal .form-group.form-group-default .col-lg-5, 
.form-horizontal .form-group.form-group-default .col-lg-6,
.form-horizontal .form-group.form-group-default .col-lg-7, 
.form-horizontal .form-group.form-group-default .col-lg-8,
.form-horizontal .form-group.form-group-default .col-lg-9, 
.form-horizontal .form-group.form-group-default .col-md-1,
.form-horizontal .form-group.form-group-default .col-md-10,
.form-horizontal .form-group.form-group-default .col-md-11,
.form-horizontal .form-group.form-group-default .col-md-12, 
.form-horizontal .form-group.form-group-default .col-md-2, 
.form-horizontal .form-group.form-group-default .col-md-3,
.form-horizontal .form-group.form-group-default .col-md-4,
.form-horizontal .form-group.form-group-default .col-md-5, 
.form-horizontal .form-group.form-group-default .col-md-6,
.form-horizontal .form-group.form-group-default .col-md-7, 
.form-horizontal .form-group.form-group-default .col-md-8,
.form-horizontal .form-group.form-group-default .col-md-9, 
.form-horizontal .form-group.form-group-default .col-sm-1,
.form-horizontal .form-group.form-group-default .col-sm-10, 
.form-horizontal .form-group.form-group-default .col-sm-11,
.form-horizontal .form-group.form-group-default .col-sm-12, 
.form-horizontal .form-group.form-group-default .col-sm-2,
.form-horizontal .form-group.form-group-default .col-sm-3, 
.form-horizontal .form-group.form-group-default .col-sm-4, 
.form-horizontal .form-group.form-group-default .col-sm-5, 
.form-horizontal .form-group.form-group-default .col-sm-6,
.form-horizontal .form-group.form-group-default .col-sm-7,
.form-horizontal .form-group.form-group-default .col-sm-8,
.form-horizontal .form-group.form-group-default .col-sm-9, 
.form-horizontal .form-group.form-group-default .col-xs-1, 
.form-horizontal .form-group.form-group-default .col-xs-10,
.form-horizontal .form-group.form-group-default .col-xs-11,
.form-horizontal .form-group.form-group-default .col-xs-12, 
.form-horizontal .form-group.form-group-default .col-xs-2, 
.form-horizontal .form-group.form-group-default .col-xs-3,
.form-horizontal .form-group.form-group-default .col-xs-4, 
.form-horizontal .form-group.form-group-default .col-xs-5,
.form-horizontal .form-group.form-group-default .col-xs-6,
.form-horizontal .form-group.form-group-default .col-xs-7, 
.form-horizontal .form-group.form-group-default .col-xs-8,
.form-horizontal .form-group.form-group-default .col-xs-9 {
    padding-left: 2px;
    padding-right: 2px;
}
.form-horizontal .form-group.form-group-default input.form-control,
.form-horizontal .form-group.form-group-default select.form-control {
    height: 27px !important;
    line-height: 1.5;
    padding: 3px 5px !important;
}
.form-horizontal .form-group.form-group-default select.form-control {
    padding-top: 4px !important;
}
.form-horizontal .form-group.form-group-default .control-label {
    padding-right: 5px;
    padding-top: 4px;
}
.form-horizontal .form-group.form-group-default .input-group-addon {
    padding: 2px 12px;
}
.form-horizontal .form-group.form-group-default .select2-container--default .select2-selection--single {
    height: 27px !important;
    padding-top: 3px !important;
}
.form-horizontal .form-group.form-group-default .btn {
    padding-top: 4px;
    padding-bottom: 3px;
}
.form-horizontal .form-group.form-group-default .checker {
    margin-top: 2px;
}
.form-horizontal .form-group.form-group-default .checkbox-group label {
    cursor: pointer;
}
.form-horizontal .form-group.form-group-default .checkbox {
    padding-top: 3px;
}
.form-horizontal .form-group.form-group-default .radio {
    padding-top: 3px;
    padding-left: 2px;
}
.form-horizontal .form-group.form-group-default .radio label {
    margin-bottom: 0;
}

input.default-size,
button.default-size,
select.default-size {
    height: 27px !important;
    line-height: 1.5;
    padding: 3px 5px !important;
}
.table .select2-container--default .select2-selection--single {
    height: 27px !important;
    padding-top: 3px !important;
}
.table .btn-full {
    padding: 0;
    vertical-align: middle;
}
.table .btn-radius {
    border-radius: 3px;
}


.btn-xs {
    padding-top: 3px;
    padding-bottom: 3px;
}

/*
.table>thead>tr>th {
    padding: 7px!important;
}
*/

.table>tbody>tr>td {
/*    padding: 7px 10px !important;*/
    padding: 5px 10px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

.table.full-row>tbody>tr>td {
    padding: 14px !important;
}

.table.table-edit tr td.editable {
    cursor: pointer;
}

.table.table-edit tr td.editable input.default-size,
.table.table-edit tr td.editable select.default-size {
    height: 28px !important;
}

.table.table-edit tr.new td {
    background-color: #E8FFEB !important;
}

.table.table-edit tr.edit td {
    background-color: #FFF9E8 !important;
}

.table.table-edit tr.delete td {
    background-color: #FFD2D2;
}

.table.table-edit tr.row-focus td,
.table.display tr.row-focus td {
    background-color: rgba(212, 230, 236, 0.5) !important;
}

.table.table-edit .date-picker-edit input.form-control {
    height: 27px !important;
    line-height: 1.5;
    padding: 3px 5px !important;
    text-indent: 27px;
}
.table.table-edit .date-picker-edit .input-group-addon {
    padding: 2px 7px;
    font-size: 12px;
}

.table.table-edit .checkbox-edit {
    margin: 0 !important;
}
.table.table-edit .checkbox-edit label {
    padding: 0 !important;
    top: 4px;
}
.table.table-edit .checkbox-edit.has-caption label {
    padding-left: 25px !important;
    margin-left: 15px !important;
}
.table.table-edit .checkbox-edit {
    margin: 0 !important;
}
.table.table-edit .checkbox-edit label::after {
    left: 1px;
}

.table.dataTable tbody tr td.checkbox {
    padding: 0;
}

.table-pagination {
    display: table;
    width: 100%;
    border: 1px solid #dddddd;
    border-top: none;
    padding: 5px 3px;
}
.table-pagination .item-per-page {
    font-size: 12px;
    color: #777;
/*    margin: 4px 0 0 0;*/
}
.table-pagination .item-per-page .caption-page {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    border: 1px solid #dddddd;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.table-pagination .item-per-page select {
    width: 60px;
    height: 30px !important;
    line-height: 1.5;
    padding: 3px 5px !important;
    font-size: 12px;
    color: #777;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.table-pagination .pagination {
    margin: 0;
}

.tab-content {
    border: solid 1px #DDD;
    border-top: none;
}

.table-empty {
    width: 100%;
    height: 150px;
    border: solid 1px #dddddd;
    border-top: none;
    margin-top: -20px;
}
.table-empty p{
    text-align: center;
    line-height: 150px;
}

.control-label {
    padding-top: 7px;
}

@media (min-width: 1300px){
    .container {
        width: 1250px !important;
    }
}

/*fix width*/
.page-content {
    max-width: 1400px;
    min-width: 1140px;
    margin: 0 auto;
}
@media (max-width: 1170px){
    .container {
        width: 100% !important;
    }
}


.form-inline.form-group.form-group-default {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #A8A8A8;
}
table.dataTable.table-bordered.display thead>tr>th:first-child,
table.dataTable.table-bordered.display tbody>tr>td:first-child {
    border-left: none;
}
table.dataTable.table-bordered.display thead tr th {
    border-right: none;
}
table.dataTable.table-bordered.display tbody tr td {
    border-bottom: none;
    border-right: none;
}
.dataTables_wrapper .dataTables_length {
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_paginate {
    margin-top: 5px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}
div.DTFC_LeftBodyLiner {
    overflow: hidden;
}
div.DTFC_LeftBodyLiner table.table-bordered.DTFC_Cloned {
/*    margin-left: -2px !important;*/
}

.checkbox-text-group {
    display: inline-table;
    vertical-align: middle; 
}
.checkbox-text-group .text-group {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 100%;
}

.date-picker-group {
    display: inline-table;
    vertical-align: middle;
    width: 100%;
}
.date-picker-group .date-picker-left {
    
}
.date-picker-group .date-picker-center {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}
.date-picker-group .date-picker-right {
    
}

.datepicker.dropdown-menu {
    z-index: 1000 !important;
}
.datetimepicker.dropdown-menu {
    padding: 10px;
}