/* Checkboxes and Radio buttons 
--------------------------------------------------
*/

.radio,
.checkbox {
    margin-bottom: 10px;
    margin-top: 7px;
    padding-left: 0px;
}
.radio.horizontal,
.checkbox.horizontal {
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 5px;
}
.radio.horizontal label {
    margin-bottom: 0 !important;
}
.radio label,
.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px !important;
    margin-right: 15px;
    font-size: 13px;
}
.radio label:before,
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
}
.radio label {
    margin-bottom: 6px;
}
.radio label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}
.radio input[type=radio]:checked + label:before {
    border-width: 5px;
}
.radio input[type=radio] {
    display: none;
}
.radio input[type=radio][disabled] + label {
    opacity: 0.65;
}
.radio.radio-success input[type=radio]:checked + label:before {
    border-color: #22BAA0;
}
.radio.radio-primary input[type=radio]:checked + label:before {
    border-color: #6d5cae;
}
.radio.radio-info input[type=radio]:checked + label:before {
    border-color: #3b4752;
}
.radio.radio-warning input[type=radio]:checked + label:before {
    border-color: #f8d053;
}
.radio.radio-danger input[type=radio]:checked + label:before {
    border-color: #f55753;
}
.radio.radio-complete input[type=radio]:checked + label:before {
    border-color: #48b0f7;
}
.checkbox input[type=radio][disabled] + label:after {
    background-color: #e6e6e6;
}
.checkbox label {
    -webkit-transition: border 0.2s linear 0s, color 0.2s linear 0s;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
    white-space: nowrap;
}
.checkbox label:before {
    top: 1.4px;
    border-radius: 3px;
    -webkit-transition: border 0.2s linear 0s, color 0.2s linear 0s;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3.2px;
    top: 2px;
    font-size: 11px;
    -webkit-transition: border 0.2s linear 0s, color 0.2s linear 0s;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:after {
    border-radius: 3px;
}
.checkbox input[type=checkbox] {
    display: none;
}
.checkbox.checkbox-circle label:after {
    border-radius: 99px;
}
.checkbox.checkbox-circle label:before {
    border-radius: 99px;
}
.checkbox input[type=checkbox]:checked + label:before {
    border-width: 8px;
}
.checkbox input[type=checkbox]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    color: #fff;
}
.checkbox input[type=checkbox][disabled] + label {
    opacity: 0.65;
}
.checkbox input[type=checkbox][disabled] + label:before {
    background-color: #eceff3;
}
.checkbox.right label {
    margin-right: 35px;
    padding-left: 0 !important;
}
.checkbox.right label:before {
    right: -35px;
    left: auto;
}
.checkbox.right input[type=checkbox]:checked + label {
    position: relative;
}
.checkbox.right input[type=checkbox]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    right: -27px;
    left: auto;
}
.checkbox.check-success input[type=checkbox]:checked + label:before {
    border-color: #22BAA0;
}
.checkbox.check-primary input[type=checkbox]:checked + label:before {
    border-color: #428BCA;
}
.checkbox.check-complete input[type=checkbox]:checked + label:before {
    border-color: #48b0f7;
}
.checkbox.check-warning input[type=checkbox]:checked + label:before {
    border-color: #f8d053;
}
.checkbox.check-danger input[type=checkbox]:checked + label:before {
    border-color: #f55753;
}
.checkbox.check-info input[type=checkbox]:checked + label:before {
    border-color: #3b4752;
}
.checkbox.check-success input[type=checkbox]:checked + label::after,
.checkbox.check-primary input[type=checkbox]:checked + label::after,
.checkbox.check-complete input[type=checkbox]:checked + label::after,
.checkbox.check-warning input[type=checkbox]:checked + label::after,
.checkbox.check-danger input[type=checkbox]:checked + label::after,
.checkbox.check-info input[type=checkbox]:checked + label::after {
    color: #ffffff;
}

/*  Padding - Margin  */
.pdn {
  padding: 0 !important;
}
.pdx {
  padding: 3px !important;
}
.pdm {
  padding: 10px !important;
}
.pdl {
  padding: 20px !important;
}
.pdxl {
  padding: 30px !important;
}
.pdxxl {
  padding: 40px !important;
}
.ptn,
.pvn,
.pan {
  padding-top: 0 !important;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px !important;
}
.pts,
.pvs,
.pas {
  padding-top: 5px !important;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px !important;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px !important;
}
.ptxl,
.pvxl,
.paxl {
  padding-top: 30px !important;
}
.ptxxl,
.pvxxl,
.paxxl {
  padding-top: 40px !important;
}
.prn,
.phn,
.pan {
  padding-right: 0 !important;
}
.prx,
.phx,
.pax {
  padding-right: 3px !important;
}
.prs,
.phs,
.pas {
  padding-right: 5px !important;
}
.prm,
.phm,
.pam {
  padding-right: 10px !important;
}
.prl,
.phl,
.pal {
  padding-right: 20px !important;
}
.prxl,
.phxl,
.paxl {
  padding-right: 30px !important;
}
.prxxl,
.phxxl,
.paxxl {
  padding-right: 40px !important;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0 !important;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px !important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px !important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px !important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px !important;
}
.pbxl,
.pvxl,
.paxl {
  padding-bottom: 30px !important;
}
.pbxxl,
.pvxxl,
.paxxl {
  padding-bottom: 40px !important;
}
.pln,
.phn,
.pan {
  padding-left: 0 !important;
}
.plx,
.phx,
.pax {
  padding-left: 3px !important;
}
.pls,
.phs,
.pas {
  padding-left: 5px !important;
}
.plm,
.phm,
.pam {
  padding-left: 10px !important;
}
.pll,
.phl,
.pal {
  padding-left: 20px !important;
}
.plxl,
.phxl,
.paxl {
  padding-left: 30px !important;
}
.plxxl,
.phxxl,
.paxxl {
  padding-left: 40px !important;
}
.mtn,
.mvn,
.man {
  margin-top: 0px !important;
}
.mtx,
.mvx,
.max {
  margin-top: 3px !important;
}
.mts,
.mvs,
.mas {
  margin-top: 5px !important;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px !important;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px !important;
}
.mtxl,
.mvxl,
.maxl {
  margin-top: 30px !important;
}
.mtxxl,
.mvxxl,
.maxxl {
  margin-top: 40px !important;
}
.mrn,
.mhn,
.man {
  margin-right: 0px !important;
}
.mrx,
.mhx,
.max {
  margin-right: 3px !important;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px !important;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px !important;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px !important;
}
.mrxl,
.mhxl,
.maxl {
  margin-right: 30px !important;
}
.mrxxl,
.mhxxl,
.maxxl {
  margin-right: 40px !important;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px !important;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px !important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px !important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px !important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px !important;
}
.mbxl,
.mvxl,
.maxl {
  margin-bottom: 30px !important;
}
.mbxxl,
.mvxxl,
.maxxl {
  margin-bottom: 40px !important;
}
.mln,
.mhn,
.man {
  margin-left: 0px !important;
}
.mlx,
.mhx,
.max {
  margin-left: 3px !important;
}
.mls,
.mhs,
.mas {
  margin-left: 5px !important;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px !important;
}
.mll,
.mhl,
.mal {
  margin-left: 20px !important;
}
.mlxl,
.mhxl,
.maxl {
  margin-left: 30px !important;
}
.mlxxl,
.mhxxl,
.maxxl {
  margin-left: 40px !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}